
button, span.select, label.button {
  background-color: #1E1E24;
}

header, footer {
  background-color: #595959;
}

nav {
  background-color: #A6A6A8;
}







.material.inputgroup input:focus ~ label, .material.inputgroup input:valid ~ label, .material.inputgroup textarea:focus ~ label, .material.inputgroup textarea:valid ~ label {
  color: #1E1E24
}

.material.inputgroup .bar:after, .material.inputgroup .bar:before {
  background: #1E1E24;
}

@keyframes inputHighlighter {
  from {
    background: #1E1E24
  }
  to {
    width: 0;
    background: 0 0
  }
}
